div#footer(class="clearfix section")
	ul(class="footer-block")
		li 
			b ZSupport.Me
		li								
			a(href="/") Home
		li
			a(href="/pricing") Pricing
		li
			a(href="/features") Features
		li
			a(href="/about") About

	ul(class="footer-block")
		li
			b Blogs
		li																
			a(href="#tours") Tours
		li								
			a(href="#casestudy") Case Study
		li								
			a(href="#faq") FAQ
	ul(class="footer-block-tw")
		li
			b Twitter
		li
			p#tw-content Code mỏi wá chụp cái màn hình xả xi trét  http://campl.us/n2V2 								
		
	ul(class="footer-block-fb")
		li	
			b Facebook
			div(class="fb-like-box", data-href="http://www.facebook.com/zsupport.me", data-width="292", data-height="250", data-show-faces="false", data-stream="false", data-header="true")									
	p.copyright &copy; 2013 &nbsp;
		a(href="http://www.firstresponsecleaning.co.uk/") ZSupport Me
	a(href="#top")
		img(src="/images/up.png", alt="Back To Top")