extends includes/master
block content
	div.section
		b(style="font-weight:bolder") About Us.
		p ZSupport is a project which created by David Golden. A co-founder of  
			a(href="http://cione.com.vn", target="_blank") CiOne 
			and and a coder as well
		