extends includes/master
block content
	div.section
		h2(style="font-weight:bolder") Features.
		p Absolutely!, the first thing is a realtime chat for web.
		p Number second is realtime analytic user's behavious for your sites.
		p Number three is report and custom our plugins for your sites.
		p Number four is Language processing natural for auto reply when out of working time.
		p Number five is help center to help you install on your site very easy.
		p And final thing is Pay as you go!		
		
		b We make it simple as less as possible! just focus on main functions so that we could be improve user experience and saving your time for setup and learn how to use.

	include includes/register