extends includes/master
block content
	div.section		
		h1 Plans and Pricing
		div(class="one-third column thumbnail alpha")			
				div.details
					h3 Free
					span.price-lst $ 0
					span /Months					
					ul
						li
							span.number-price 100
							span transactions per month 
						li Free support 24/7
						li Free setup
						li.unavailable Real time analytic
						li.unavailable Visiter tracking					
						li.unavailable Customize package for large business
		div(class="one-third column thumbnail")
				div(class="details most-popular")
					h3 Premium
					span.price-lst $ 8.5
					span /Months					
					ul
						li
							span.number-price 2000
							span transactions per month
						li Free support 24/7
						li Free setup
						li Real time analytic
						li Visiter tracking
						li.unavailable Customize package for large business
		div(class="one-third column thumbnail omega")
				div.details
					h3 Enterprise
					span.price-lst $ 20
					span /Months					
					ul
						li 
							span.number-price 5000
							span transactions per month
						li Free support 24/7
						li Free setup
						li Real time analytic
						li Visiter tracking
						li Customize package for large business
	p 
		span Forget the contract, you are totally either change or break your package any time.				
		br
		span If you want to have an other package for your business, please kindly to get a chat with us.
		include includes/register
					
			
