extends includes/master
block content
	div.section
		div#messages
			ul#messageitem
		br	
		input#text(type="text")
		br
		input#btnconnect(type="button", value="connect")
		br
		input#btnsent(type="button", value="Sent")
		br
		br
		input#btnJoin(type="button", value="Join")
		br	
