<div id="feature" class="flex-container">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <h2>Phân tích, Báo cáo<h2>
        <img src="images/screen_1.png" alt=""/>
      </li>
      <li>
        <h2>Hỗ trợ khách hàng<h2>
        <img src="images/screen_2.png" alt=""/>                
      </li>              
      <li>
        <h2>Cấu hình ứng dụng<h2>
        <img src="images/screen_3.png" alt=""/>                
      </li>              
    <li>
        <h2>Tùy biến giao diện<h2>
    <img src="images/screen_4.png" alt=""/>                
    </li>              
    <li>
        <h2>Điều hướng người dùng<h2>
    <img src="images/screen_5.png" alt=""/>                
    </li>  
    </ul>
  </div>
</div>