<div class="footer page-section color-e">
    <div class="container">
        <a {{action onTop target="view"}} class="head-link"><i class="icon-circle-arrow-up"></i></a>
        <div class="row footnote">
            <div class="span6">
                2013 &copy; ZSupport.Me Corporation.
            </div>
            <div class="span6">
                <div class="logos">                    
                </div>
            </div>
        </div>
    </div>
</div>