<div class="row">
    <div id="frontslider" class="carousel slide">
        <div class="carousel-inner">

            <div class="item slide1 active">
                <div class="span6">
                    <h3>Cải thiện dịch vụ khách hàng để tăng lợi nhuận!</h3>
                    <p>
                        <ul>
                            <li>Chat trực tiếp với khách hàng ngay trên website của bạn.</li>
                            <li>Tương tác với khách hàng qua bộ công cụ ZKit của chúng tôi.</li>
                            <li>Phân tích lưu lượng, hành vi người dùng.</li>
                        </ul>                                
                    </p>

                    {{#linkTo videos}} <span class="btn btn-large btn-primary">Tìm hiểu thêm</span>{{/linkTo}}
                </div>
                <div class="span6 imgcenter below">
                    <img src="images/slide_1.png" alt="iPhone webiste" />
                </div>
            </div>
            <div class="item slide2 ">
                <div class="span6">
                    <h3>Cài đặt cực kỳ đơn giản.</h3>
                    <p>
                        <ul>
                            <li>Đăng ký một tài khoản miễn phí và dùng thử.</li>
                            <li>Nhúng trình chat vào website của bạn, mọi thứ sẽ làm việc.</li>
                        </ul>
                    </p>
                    <p>
                        <h3>ZKit có thể làm gì?</h3>
                        <ul>
                            <li>Theo dõi ngay lập tức những ai vào website của bạn.</li>
                            <li>Chủ động chat với khách hàng.</li>
                            <li>"Dẫn" khách hàng xem những sản phẩm tương đương.</li>
                        </ul>
                    </p>
                    <a href="http://eepurl.com/AR6eP" class="btn btn-large btn-primary">Dùng thử miễn phí</a>
                </div>
                <div class="span6 imgcenter below">
                    <img src="images/slide_2.png" alt="Desktop view" />
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#frontslider" data-slide-to="0" class="active"></li>
            <li data-target="#frontslider" data-slide-to="1"></li>
        </ol>
    </div>
</div>   