<h2>ZSupport.Me là gì?</h2>
<div class="row">
    <div class="span12">
    <p>
        ZSupport.Me là một nền tảng Live Chat nhúng trên website.<br>Bạn có thể nhúng mã của chúng tôi vào website của bạn và khi đó bạn có thể tương tác với khách hàng truy cập vào website của bạn.
    </p>
    </div>
</div>
<h2>Tương tác</h2>
<p>
        ZSupport.Me mang một trải nghiệm Live Chat "chủ động", có nghĩa là khách hàng truy cập website và bạn sẽ chủ động liên hệ và tư vấn họ.<br>
        Bạn biết khách hàng nào đang xem gì trên trang của bạn, bạn có thể chủ động chuyển hướng họ tới sản phẩm tương tự.
</p>
<h2>Tại sao chọn ZSupport.Me</h2>
<p>
       Sứ mạng mang một trải nghiệm dịch vụ hỗ trợ khách hàng mới cho dịch vụ thương mại điện tử.<br>
       Chúng tôi không mang đến cho bạn một chương trình "Chat" thuần túy. Chúng tôi mang lại những trải nghiệm làm khách hàng của bạn hài lòng.
</p>
<h2>Công nghệ</h2>
<p>
       Dựa trên nền tảng PaaS từ Openshift giúp chúng tôi mở rộng dễ dàng.<br>
        Emberjs, Nodejs, socket.io, Redis, MongoDB và ElasticSearch.
</p>